@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "League Spartan", sans-serif;
  text-transform: capitalize;
}

:root {
  --main-color: #088178;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 55px;
  margin-right: 55px;
}

hr {
  display: none;
}

.main-title {
  text-align: center;
  margin: 50px auto;
}

.main-title h1 {
  font-size: 50px;
  color: #222;
  line-height: 1.5;
}

@media (max-width:767px) {
  .main-title h1 {
    font-size: 35px;
    padding-bottom: 10px;
  }
}

.main-title p {
  color: #465b52;
  font-size: 18px;
  line-height: 1.8;
}

@media (max-width: 767px) {
  .main-title p {
    font-size: 15px;
  }
}

/* start header */
.header {
  background-color: #eaeff4;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 83px;
}

.header .box>ul {
  display: flex;
}

.header .box li a {
  margin: 0 25px;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  transition: 0.3s;
}

.header .box li :hover {
  color: var(--main-color);
}


.header .box li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

.header .box li :hover::before {
  width: 100%;
}

.header .mobile {
  display: none;
}

@media (max-width: 767px) {
  .header .box ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #eaeff4;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 82px 0 0 10px;
  }

  .header .box>ul>li>a {
    display: block;
    margin-bottom: 25px
  }

  .header .mobile {
    display: block;
  }

  .header .mobile #menu-btn {
    margin-left: 20px;
    font-size: 24px;
  }

  .header .mobile>a {
    font-size: 24px;
    color: #1a1a1a;
  }

  .container {
    padding: 0;
    margin: 0 15px;
  }
}

/* End header */
/* start home */
.home {
  background-image: url(../img/home-bg.jpg);
  background-size: cover;
  height: calc(100vh - 83px);
  position: relative;
}

.home .text {
  position: absolute;
  top: 27%;

}

.home .text h4 {
  padding-bottom: 20px;
  font-size: 20px;
  color: #222;
}

.home .text h1 {
  color: #222;
  padding-bottom: 15px;
  font-size: 45px;
}

.home .text h2 {
  color: var(--main-color);
  padding-bottom: 25px;
  font-size: 50px;
}

.home .text p {
  padding-bottom: 20px;
  color: var(--main-color);
}

.home .text button {
  background-image: url(../img/button.png);
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #465b52;
  font-size: 16px;
  font-weight: 700;
  padding: 14px 80px 14px 65px;
}

/* End home */
/* start feature */
.feature {
  margin: 50px 0;
  background-color: white;
}

.feature .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width:767px) {
  .feature .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.feature .creat img {
  max-width: 100%;
  margin-bottom: 15px;
}

.feature .creat {
  border: 1px solid #cce7d0;
  padding: 25px 15px;
  border-radius: 4px;
  margin: 0 5px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature .creat p {
  padding: 10px;
  color: var(--main-color);
  width: fit-content;
  border-radius: 5px;
  font-weight: 600;
}

.feature .creat:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

.feature .creat .n1 {
  background-color: #fddde6;
}

.feature .creat .n2 {
  background-color: #cdebbc;
}

.feature .creat .n3 {
  background-color: #d1e8f2;
}

.feature .creat .n4 {
  background-color: #cdd4f8;
}

.feature .creat .n5 {
  background-color: #e3ddf4;
}

.feature .creat .n6 {
  background-color: #fff2e5;
}

/* End feature */
/* start product and arrivals */
.product .container,
.arrivals .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.product .box,
.arrivals .box {
  padding: 12px 12px 17px;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  position: relative;
}

.product .box:hover,
.arrivals .box:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);

}

.product .box .image,
.arrivals .box .image {
  max-width: 100%;
  border-radius: 15px;
}

.product .box span,
.arrivals .box span {
  display: block;
  text-transform: none;
  padding-top: 14px;
  color: var(--main-color);
  font-size: 12px;
}

.product .box h3,
.arrivals .box h3 {
  font-size: 15px;
  padding-top: 8px;
  color: #222;
}

.product .box .star,
.arrivals .box .star {
  color: #f3b519;
  padding-top: 8px;
}

.product .box h4,
.arrivals .box h4 {
  color: var(--main-color);
  padding-top: 8px;
  font-size: 16px;
  font-weight: 700;
}

.product .box li,
.arrivals .box li {
  position: absolute;
  right: 10px;
  bottom: 12px;
  background-color: #eaeff4;
  color: var(--main-color);
  width: fit-content;
  padding: 10px;
  border-radius: 50%;
}

/* End product and arrivals */
/* start banner  */
.banner {
  margin: 80px 0;
  position: relative;
}

.banner img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.banner .text {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.banner .text h4 {
  font-size: 22px;
  line-height: 1.4;
  color: #fff;
}

.banner .text h3 {
  color: #fff;
  padding: 15px 0;
  font-weight: 700;
  font-size: 35px;
}

.banner .text h3 span {
  color: #ef3636;
}

@media (max-width: 767px) {
  .banner .text h3 {
    font-weight: 600;
    font-size: 27px;
    line-height: 1.2;
    width: 100%;
    padding: 10px;
  }
}

.banner .text button {
  background-color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.3s;
}

.banner .text button:hover {
  background-color: var(--main-color);
  color: #fff;
}

/* End banner */
/* start sign */
.sign {
  display: flex;
  align-items: center;
  background-image: url(../img/n1.jpg);
  width: 100%;
  height: 160px;
  margin: 80px 0;
}

/* @media (max-width:991px) {
  .sign {
    height: 190px;
  }
} */

.sign .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width:991px) {
  .sign .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.sign .text h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.sign .text p {
  color: var(--main-color);
  padding-top: 20px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 29px;
}

@media (max-width:991px) {
  .sign .text p {
    padding-top: 10px;
    line-height: 1.6;
    margin-bottom: 12px;
  }
}

.sign .text p span {
  color: #f7b727;
}

.sign form {
  display: flex;
}

/* @media (max-width:991px) {
  .sign form {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
} */

.sign form input {
  padding: 14px 30px;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
  caret-color: black;
  width: 370px;
}

@media (min-width:575px) and (max-width:991px) {
  .sign form input {
    width: 340px;
  }
}
@media (max-width:575px){
  .sign form input {
    width: 249px;
  }
}
.sign form button {
  border: none;
  padding: 14px 30px;
  font-size: 16px;
  font-weight: 400;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #088178;
  color: white;
  cursor: pointer;
}

/* start footer */
.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width:767px) {
  hr {
    display: block;
    color: #cce7d0;
    padding-left: 15px;
    padding-right: 15px;
    margin: 22px 35px;
  }
}


.footer .col .logo {
  margin-bottom: 10px;
}

.footer .col h3 {
  margin: 20px 0;
}

.footer .col p {
  color: #465b52;
  line-height: 1.9;
  font-size: 16px;
  font-weight: 400;
}

.footer .col p span {
  color: #465b52;
  font-weight: 700;
  padding-right: 5px;
}

.footer .box h3 {
  margin-bottom: 20px;
}
@media (max-width:575px){
.footer .box:last-child{
  margin-top: 5px;
}
}
.footer .box p {
  line-height: 1.7;
  color: #088178;
  font-size: 19px;
  transition: .3s;
}
.footer .box p:hover {
  color: #222;
}

.footer .col {
  margin-bottom: 40px;
}

.footer .col i {
  color: #465b52;
  padding-right: 6px;
}

.footer .col .icon .bt i:hover {
  color: #1877f2;
}

.footer .col .icon .bt1 i:hover {
  color: #1da1f2;
}

.footer .col .icon .bt2 i:nth-child(1):hover {
  color: #405de6;
}

.footer .col .icon .bt3 i:nth-child(1):hover {
  color: #ff0000;
}

.footer .col .icon .btn i:nth-child(1):hover {
  color: #e60023;
}

.footer .box .imeg {
  display: flex;
  margin: 15px 0;
}

.footer .box .imeg .image {
  width: 150px;
  margin-left: 5px;
  border: 1px solid #cce7d0;
  border-radius: 5px;
}

.footer .pro {
  text-align: center;
  margin-bottom: 60px;
  color: #088178;
  font-size: 20px;
}

@media (min-width:991px),
(max-width:1200px) {
  .footer .pro {
    margin-top: 40px;
  }
}

@media (max-width:767px) {
  .footer .pro {
    font-size: 15px;
  }
}

.footer .pro span {
  color: #222;
}

/* End footer */
/* start shop */
.stayhome {
  width: 100%;
  height: 230px;
  position: relative;
  margin-bottom: 40px;
}

.stayhome img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stayhome .text,
.readmore .text,
.knowus .text,
.lets .text,
.cant .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.stayhome .text h1,
.lets .text h1,
.cant .text h1 {
  font-size: 40px;
  margin-bottom: 10px;

}

.stayhome .text p,
.readmore .text p,
.knowus .text p,
.lets .text p,
.cant .text p {
  line-height: 3;
}

@media (max-width:767px) {

  .stayhome .text p,
  .readmore .text p,
  .knowus .text p,
  .lets .text p,
  .cant .text p {
    line-height: 1.9;
    width: 306px;
  }

  .stayhome .text h1 {
    font-size: 30px;
  }
}

.number {
  margin: 70px auto;
  text-align: center;
}

.number a {
  padding: 15px 20px;
  background-color: #088178;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
}

/* End shop */
/* start blog*/
.readmore {
  position: relative;
  margin-bottom: 40px;
}

.readmore img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.store {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;
}

.store .box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.store .box:last-child {
  margin-bottom: 30px;
}

@media (max-width:767px) {
  .store .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.store .box .image {
  width: 50%;
}


@media (max-width:767px) {
  .store .box .image {
    width: 100%;
    margin-bottom: 40px;
  }
}

.store .box .image img {
  width: 90%;
  height: 300px;
  object-fit: cover;
}

@media (max-width:767px) {
  .store .box .image img {
    width: 100%;
  }
}

.store .box .text {
  width: 40%;
  position: relative;
}

@media (max-width:767px) {
  .store .box .text {
    width: 100%;
  }
}

@media (max-width:767px) {
  .store .box .text h1 {
    font-size: 23px;
  }
}

.store .box .text p {
  color: #465b52;
  padding: 10px 0;
  line-height: 1.6;
}

.store .box .text a {
  color: black;
  font-weight: 600;
  transition: .3s;
}

/* .store .box .text a::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: black;
  top: 50%;
  right: 50%;
} */

.store .box .text a:hover {
  color: var(--main-color);
}

/* End blog */
/* start abuot */
.knowus,
.lets,
.cant {
  height: 250px;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.knowus img,
.lets img,
.cant img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width:575px) {
  .who .box {
    display: flex;
    flex-direction: column;
  }
}

.who {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;
}

.who .box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.who .box .image img {
  width: 90%;
}

@media (max-width:575px) {
  .who .box .image img {
    width: 100%;
  }
}

.who .box .text h1 {
  line-height: 1.9;
  font-size: 40px;
}

.who .box .text p {
  color: #465b52;
  line-height: 1.5;
  font-size: 16px;
}

.newo {
  text-align: center;
  margin: 60px auto;
}

.newo h1 {
  font-size: 40px;
}

.vid {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}

.vid video {
  width: 60%;
  border-radius: 15px;
}

@media (max-width:575px) {
  .vid video {
    width: 100%;
  }
}

/* End abuot */
/* start contect */
.love {
  margin-bottom: 50px;
}

.love .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width:577px) {
  .love .container {
    display: flex;
    flex-direction: column;
  }
}

.love .box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  margin-top: 35px;
}

@media (max-width:577px) {
  .love .box {
    width: 90%;
    margin-bottom: 30px;
  }
}

.love .box .text {
  line-height: 2;
}

.love .box .text span {
  display: block;
  padding-bottom: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.love .box .text h2 {
  line-height: 1.2;
  padding-bottom: 10px;
}

.love .box .icons li {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.love .box .icons li i {
  color: #465b52;
  font-size: 14px;
}

.love .box .icons li p {
  color: #465b52;
  padding-left: 20px;
  font-size: 14px;
}

.love form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 55%;
}

@media (max-width: 577px) {
  .love form {
    width: 100%;
    margin-top: 20px;
    text-align: start;
  }
}

.love form span {
  font-weight: 300;
  text-transform: uppercase;
}

.love form h2 {
  line-height: 2.5;
}

.love form input {
  outline: none;
  padding: 10px 0 10px 13px;
  border: 1px solid #cce7d0;
  margin-bottom: 20px;
}

.love form textarea {
  outline: none;
  padding: 10px 0 10px 13px;
  border: 1px solid #cce7d0;
  margin-bottom: 15px;
}

.love form button {
  padding: 15px;
  border-radius: 4px;
  color: #fff;
  border: none;
  background-color: #088178;
}

/* End contect */
/* start cart  */
.table1 {
  text-align: center;
  margin: 50px 0 ;
  overflow-x: auto;
}

.table1 table {
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
}

.table1 table thead td {
  border-top: 1px solid #e2e9e1;
  border-bottom: 1px solid #e2e9e1;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  padding: 18px 0;
  width: 150px;
}

.table1 tr img {
  width: 70px;
  padding-top: 10px;
}

.table1 table tbody input {
  width: 70px;
  padding: 10px;
  outline: none;
  caret-color: #222;
}
.table1 table tbody tr{
  width: 150px;
}
.totals {
  margin: 77px 0;
}

.totals .container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width:580px) {
  .totals .container {
    display: flex;
    flex-direction: column;
  }
}

.totals .gox {
  width: 50%;
}

@media (max-width:578px) {
  .totals .gox {
    width: 100%;
    margin-bottom: 30px;
  }
}

.totals .gox input {
  width: 60%;
  padding: 10px 20px;
  margin-right: 5px;
  border: 1px solid #e2e9e1;
  outline: none;
}

.totals .gox button {
  background-color: #088178;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.totals .gox h3 {
  padding-bottom: 20px;
}

.totals .box {
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  width: 50%;
}

@media (max-width:578px) {
  .totals .box {
    width: 100%;
    margin-bottom: 30px;
  }
}

.totals .box table {
  width: 100%;
  margin: 15px 0;
  border-collapse: collapse;
}

.totals .box table td {
  width: 50%;
  padding: 10px;
  border: 1px solid #e2e9e1;
  font-size: 15px;
}

.totals .box button {
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 10px 15px;
  font-size: 17px;
  font-weight: 600;
  background-color: #088178;
}
/* End cart */
/* start kol */
.kol {
  margin: 40px 0;
}
.kol .container{
  display: flex;
  flex-wrap: wrap;
}
@media (max-width:575px){
  .kol .container{
    display: flex;
    flex-direction: column;
  }
}
.kol .box {
  width: 40%;
}
@media(max-width:575px){
  .kol .box{
    width: 100%;
  }
}
.kol .box:first-child{
  margin-right: 40px;
}
.kol .box .image1{
  width: 100%;
}
.kol .box .image{
  display: flex;
  justify-content: space-between;
}
.kol .box .image img{
  width: 24%;
}
.kol .box.nob{
  margin-top: 30px;
}
.kol .box.nob h6{
  font-size: 16px;
}
.kol .box.nob h4{
  padding: 40px 0 20px 0;
  font-size: 22px;
}
.kol .box.nob h2{
  font-size: 26px;
  padding: 20px 0;
}
.kol .box.nob select{
  display: flex;
  margin-bottom: 15px;
  padding: 8px 12px;
  outline: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #1a1a1a;
}
.kol .box.nob input{
  width: 46px;
  padding: 10px;
  height: 38px;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #1a1a1a;
  border-radius: 3px;
}
.kol .box.nob button{
  height: 40px;
  padding: 0 29px;
  background-color: #088178;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 18px;
}
.kol .box.nob span{
  display: block;
  line-height: 1.5;
}
/* End kol */